@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    background-color: #444444;
    font-family: "Montserrat";
    color: #0FA248;
    font-size: 2rem;
    font-weight: 500;
}